# Development database
APP_ENV=development
DATABASE_URL=postgres://writerslife:writerslife@localhost:5432/writerslife_dev?sslmode=disable

# Test database
# APP_ENV=test
# DATABASE_URL=postgres://writerslife:writerslife@localhost:5432/writerslife_test?sslmode=disable
